.banner {
    background: url("https://content.skyscnr.com/240e8e9c854a88987095ae70cc0c2918/NYCA-banner.jpg?resize=2400px:800px&quality=100");
    height: 50vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner__info {
    background-color: #222226;
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
    height: 161px;    
}

.banner__search {
    display: flex;
    flex-direction: column;
}

.banner__searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #FFC300 !important;
}

.banner__info > button {
    background-color: #FFC300;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > button:hover {
    background-color: white;
    color: #FFC300;
    border: 1px solid #FFC300;
}

.banner__info > h5 {
    margin-top: 10px;
}
.banner__info > h1 {
    top: 10px;
}

